@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand";
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.margin-auto {
  margin: auto;
}

/* Navigation Bar */
.nav-bar-container {
  padding-top: 20px;
}
.nav-bar {
  width: 1160px;
  align-items: center;
}
.nav-logo {
  width: 62px;
  height: 62px;
}
.nav-h1 {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 11px;
}
.nav-list {
  margin-left: 186px;
}
.nav-list li {
  list-style-type: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: 700;
}
.nav-list a {
  text-decoration: none;
}
.nav-btn {
  width: 197px;
  height: 50px;
  background-color: rgb(254, 163, 1);
  border: none;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 154px;
}
.menu-icon {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 7px 0;
  display: none;
}

/* Banner */
.banner-container {
  width: 1160px;
  justify-content: space-between;
  margin-top: 18px;
}
.banner-texts {
  width: 640px;
  margin-top: 122px;
}
.banner-texts h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.banner-texts p {
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 24px;
}
.banner-container img {
  width: 470px;
  height: 575px;
}
.banner-texts button {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 24px;
  padding: 10px;
  border-radius: 12px;
  width: 197px;
  height: 50px;
  border: none;
}

/* Curriculum */
.curriculum-bg {
  width: 100%;
  height: 879px;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  align-items: center;
}
.curriculum-container {
  width: 1160px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 70px;
}
.curriculum-cards-container {
  margin-top: 80px;
  justify-content: space-between;
}
.curriculum-card {
  width: 367.8px;
  height: 476.78px;
  text-align: center;
}
.curriculum-card img {
  width: 132.61px;
  height: 135.21px;
  margin-top: 52.82px;
}
.curriculum-card h1 {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  margin-top: 32.8px;
}
.curriculum-card p {
  margin: auto;
  margin-top: 33.48px;
  color: rgb(128, 128, 128);
  font-family: "Raleway";
  font-size: 15.09px;
  font-weight: 500;
  width: 286.26px;
  line-height: 28.3px;
  
}
.curriculum-card button {
  margin-top: 38.67px;
  font-size: 15.09px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
.curriculum-card-1 {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card-2 {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.slide-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 900;
  margin-top: 80px;
  margin-right: 10px;
}
.slide-btn:hover {
  background-color: green;
}

/* Stories */
.stories-container {
  width: 100%;
  height: 1018.02px;
  background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stories-container > h1 {
  margin-bottom: 80px;
  font-size: 46px;
  font-weight: 700;
  margin-top: 50px;
}
.stories-container > button {
  margin-top: 80px;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: none;
}
.story-card-container {
  width: 1160px;
  display: grid;
  grid-template-areas: 
    'card-1 card-2 card-3'
    'card-1 card-4 card-5';
  gap: 19px;
}
.story-card-1 {
  grid-area: card-1;
  width: 540.27px;
  height: 630.52px;
  background-color: white;
  border-radius: 16px;
}
.story-card-1 h1{
  margin-top: 61.51px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 38.35px;
}
.story-card-1 p {
  font-family: "Raleway";
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  color: rgb(102, 102, 102);
  margin-left: 38.85px;
  margin-right: 68.86px;
  margin-top: 51.77px;
}
.story-card {
  width: 290.69px;
  height: 301.61px;
  background-color: white;
  border-radius: 16px;
}
.story-card h1 {
  margin: 43.12px 54.75px 0 38.35px;
  font-size: 15.34px;
  font-weight: 700;
}
.story-card img {
  width: 291px;
  height: 177px;
  border-radius: 16px 16px 0px 0px;
}
.story-card-1 img {
  width: 540px;
  height: 337px;
  border-radius: 16px 16px 0px 0px;
}
.story-card-2 {
  grid-area: card-2;
}
.story-card-3 {
  grid-area: card-3;
}
.story-card-4 {
  grid-area: card-4;
}
.story-card-5 {
  grid-area: card-5;
}

/* Footer */
.footer {
  width: 100%;
  height: 396px;
  background-color: rgb(1, 172, 253);
  padding-top: 123px;
}
.footer-container {
  width: 1070.91px;
  height: 222px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-left h1 {
  font-size: 42.14px;
  font-weight: 700;
  color: white;
  display: inline;
  width: 206.11px;
  height: 80px;
}
.footer-left p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  width: 399.02px;
  height: 100px;
  margin-top: 35.68px;
}
.footer-middle h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
  margin-top: 12px;
}
.footer-middle li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}
.footer-right h1 {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-bottom: 32px;
}
.footer-right img {
  width: 40.61px;
  height: 40px;
  margin-right: 10.15px;
}

@media screen and (max-width: 576px) {
  /* Navigation Bar */
  .nav-bar-container {
    padding-top: 12px;
  }
  .nav-bar {
    width: 358px;
    justify-content: space-between;
  }
  .nav-h1, .nav-list, .nav-btn {
    display: none;
  }
  .nav-logo {
    width: 46px;
    height: 46px;
  }
  .menu-icon {
    display: block;
  }
  .nav-bar-container {
    height: 70px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  /* Banner */
  .banner-container {
    width: 357px;
    flex-direction: column-reverse;
  }
  .banner-texts {
    width: 357px;
    margin-top: 20px;
  }
  .banner-texts h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }
  .banner-texts p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
  }
  .banner-texts button {
    width: 131px;
    height: 42px;
    padding: 3px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 18px;
  }
  .banner-container img {
    width: 336.58px;
    height: 413px;
    margin-bottom: 20px;
  }

  /* Curriculum */
  .curriculum-container {
    width: 357px;
    margin-top: 850px;
  }
  .curriculum-cards-container {
    width: 357px;
    flex-direction: column;
    gap: 12.3px;
    margin-top: 30px;
  }
  .slide-btn {
    display: none;
  }
  /* Stories */
  .stories-container {
    width: 100%;
    height: 768.89px;
    margin: auto;
    margin-top: 730px;
  }
  .stories-container > h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .story-card-container {
    width: 358px;
    grid-template-areas: 
    'card-2 card-3'
    'card-4 card-5';
    gap: 11.5px;
  }
  .story-card-1 {
    display: none;
  }
  .story-card {
    width: 173.09px;
    height: 179.59px;
  }
  .story-card img {
    width: 173.27px;
    height: 105.39px;
  }
  .story-card h1 {
    font-size: 9.13px;
    font-weight: 700;
    margin: 25.68px 19.98px 0 22.83px;
  }
  /* Footer */
  .footer {
    padding-top: 66px;
  }
  .footer-container {
    flex-direction: column;
  }
}